---
layout: base
order: 100
title: AWS &amp; Azure Integration
subtitle: AWS &amp; Azure Easy Button
---

<header class="solutions">
  <div class="container">
    <h2> {{ page.subtitle }} </h2>
  </div>
</header>

<section class="services">
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="intro-text">
        <h2>Accelerate the Adoption of Enterprise Technologies</h2>
        <br>
        <span class="name-desc">We craft on-demand, hands-on lab environments to educate, engage and ultimately empower enterprise customers, direct sales teams and channel partners, so they can get from Demo to PoC to PO faster.</span>
        <br>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="col-lg-12 text-center">
          <img src="/assets/images/ta_platform.svg" alt="Compliance">
      </div>
    </div>

  </div>
</div>
</section>

{% include featureslider.html name="platform-1" c=site.data.platform-slider-1 %}

{% include featureslider.html name="platform-2" c=site.data.platform-slider-2 %}

{% include featureslider.html name="platform-3" c=site.data.platform-slider-3 %}

{% include featureslider.html name="platform-4" c=site.data.platform-slider-4 %}
