---
layout: base
order: 300
title: TechAccelerator Infrastructure as a Service
subtitle: High-Available VMware based infrastructure utilizing fast ssd storage, 10GbE networking and features you can’t find elsewhere.
---

<header class="solutions">
  <div class="container">
    <h2> {{ page.subtitle }} </h2>
  </div>
</header>

{% include featureslider.html name="platform-1" c=site.data.platform-slider-1 %}

{% include featureslider.html name="platform-2" c=site.data.platform-slider-2 %}

{% include featureslider.html name="platform-3" c=site.data.platform-slider-3 %}

{% include featureslider.html name="platform-4" c=site.data.platform-slider-4 %}
