---
layout: base
order: 200
title: Platform - Purpose Built
subtitle: Purpose built, automation, reporting/tracking, ease of access
---

<header class="solutions">
  <div class="container">
    <h2> {{ page.subtitle }} </h2>
  </div>
</header>

{% include featureslider.html name="platform-1" c=site.data.platform-slider-1 %}

{% include featureslider.html name="platform-2" c=site.data.platform-slider-2 %}

{% include featureslider.html name="platform-3" c=site.data.platform-slider-3 %}

{% include featureslider.html name="platform-4" c=site.data.platform-slider-4 %}
