---
layout: base
title: TechAccelerator Feature Overview
subtitle: Feature Rich Platform
---

<header class="solutions">
  <div class="container">
    <h2> {{ page.subtitle }} </h2>
  </div>
</header>

{% include featureslider.html name="features-1" c=site.data.features-slider-1 %}

{% include featureslider.html name="platform-2" c=site.data.platform-slider-2 %}

{% include featureslider.html name="platform-3" c=site.data.platform-slider-3 %}

{% include featureslider.html name="platform-4" c=site.data.platform-slider-4 %}
