<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo title=false %}
    <link rel="icon" href="/favicon.ico">

    <title>{{ page.title }}</title>

    <!-- CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/techaccelerator.css" rel="stylesheet">
    <link href="//demo-qa.techaccelerator.com/assets/header.css" rel="stylesheet">

    <!-- Fonts
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900,300italic,400italic,700italic" rel="stylesheet" type="text/css">
-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css">

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="nav page-nav page-header navbar-fixed-top">
      {% include nav.html %}
    </nav>

    {{ content }}


    <footer class="text-left">
      <div class="footer-middle">
        <div class="container">
          <!-- <div class="row last center-container">
            <a id="request_demo" href="#" class="drift-open-chat cta btnshadow yellow_button">Request Demo</a>
          </div> -->
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              © 2016 TechAccelerator, Inc.
              <br><a href="/legal/privacy">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!--<script src="/assets/js/jquery.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.easing.1.3.min.js"></script>
    <script src="/assets/js/classie.js"></script>

    {% comment %}
    {% include facebook.html %}
    {% include intercom.html %}
    {% endcomment %}

    {% include segment.html %}
    {% include drift.html %}
  </body>
</html>
