---
layout: base
---

<header>
  <div class="container"><h2>TechAccelerator Blog</h2></div>
</header>

<div class="container blog">
  <div class="container subnav-content" role="blog">
    <div class="content">


      <section class="trusted-client">
        <div class="container">
              <div class="row">
                <h3 id="">Work with us</h3>
                  <div class="media">
                    <span class="media-left">
                      <img src="/assets/images/work.jpg" width=220px;  class="left-left" alt="work">
                    </span>
                    <div class = "media-body">
                      {{ content }}
                      <h4>How we work</h4>
                      We’re building a strong, diverse team of curious, creative people who want to find a purpose in their work
                      and support each other in the process. We work hard and we play to win.
          <br/><br/>
                      As a result, we create a place where all kinds of work happens — and happens well —
                      all while working alongside people we respect and admire.

                    </div>
                    <h4> Benefits </h4>
                    <ul>
                      <li>Health, dental, and vision benefits for you and your family</li>
                      <li> Life insurance and disability benefits</li>
                      <li>Paid parental leave</li>
                      <li>Relocation support</li>
                      <li>Wellness and commuter benefits</li>
                      <li>Flexible work hours</li>
                      <li>Competitive vacation policy</li>

                      <li>We embrace distributed work; some benefits will vary by location.</li>
                    </ul>
                  </div>
                </div>
            </div>
      <br/>

    </div>
  </div>
</div>
